.cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cta-image {
    max-width: 40%;
}

.cta-container h4 {
    font-size: 24px;
    margin-bottom: .5rem;
}

.cta-container p {
    font-size: 16px;
    margin-bottom: 1rem;
}

/* Responsive CSS */
@media (max-width: 768px) {
    .cta-container {
        flex-direction: column;
    }

    .cta-image {
        max-width: 100%;
    }
}